<nav class="navbar bg-light w-100">
    <div class="container-fluid justify-content-end">
        <button type="button" class="btn border me-2 cart" routerLink="/shop/cart">
            <i class="bi bi-cart"></i>
        </button>
        <div class="btn-group dropstart ">
           
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <strong class=" me-2">{{user.userName}} {{user.lastName}}</strong>
                    <h4><i class="bi bi-person"></i></h4>
                </a>
          
            <ul class="dropdown-menu">
            <li *ngIf="isLoggedIn"><a class="dropdown-item logout" (click)="onLogout()">Log out</a></li>
            <li routerLink="/auth" *ngIf="!isLoggedIn"><a class="dropdown-item logout">Log in/Sign up</a></li>
            </ul>
        </div>
       
    </div>

  
</nav>