<div class="row text-start container-fluid db-general-container m-3" style="height: fit-content;">
    <h1 class="col-12 text-start" (click)="showUsers()">General indicators</h1>

    <div class="col-6 row ">
    
        <h1 class="col-2 d-flex flex-column justify-content-center">
            <i class="bi bi-people"></i>
        </h1>
        <div style="height: 350px;" class="col d-flex flex-column  justify-content-center">
            <canvas id="canvas"></canvas>
    
        </div>
    </div>

    <div class="col-6 row  ">
        <h1 class="col-2 d-flex me-3 flex-column justify-content-center">
            <i class="bi bi-cart"></i>
        </h1>
        <div style="height: 350px;" class="col-9 d-flex  flex-column justify-content-center p-1">
            <canvas id="chartOrders"></canvas>

        </div>
    </div>
    <div class="col-6 row ">

        <h1 class="col-2 d-flex flex-column justify-content-center">
            <i class="bi bi-currency-dollar"></i>
        </h1>
        <div class="col d-flex flex-column  justify-content-center">
            <canvas id="chartIncome"></canvas>

        </div>
    </div>
    <div  class="col-6 row ">
    
        <h1 class="col-2 d-flex flex-column justify-content-center">
            <i class="bi bi-ui-checks-grid"></i>
        </h1>
        <div  style="height: 350px;" class="col d-flex flex-column  justify-content-center">
            <canvas id="chartTasks"></canvas>
    
        </div>
    </div>
   
</div>